.App {
  text-align: center;
}
button{
  background-color: aqua;
  border: none;
  width: 7rem;
  height: 3rem;
  font-size: larger;
  border-radius: 2rem;
  cursor: pointer;
}
.displayComponent {
  font-size: xxx-large;
}